@font-family: Helvetica, sans-serif;
@base-color: #333;

body {
    font: 100% @font-family;
    color: @base-color;
}

@purple: #660059;
@white: #FFF;

.my-div {
    background-color: @purple;
    color: @white;
    height: 100px;
    width: 100%;
}
